html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin-top: 1%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
    background: url(/assets/img/bg/10.JPG) no-repeat top center scroll;
}